# idea
.idea
*/idea

# .git
.git
# ignore sub dir .git
*/.git
*/*/.git

# devcontainer
.devcontainer/

# venv
venv
*/venv
*/*/venv

# vmd_app/view
vmd_app/view/

# upload audio folder
upload/

# test folder
test

# __pycache__
**/__pycache__/

## logger file
#core/logs/

## logs file
#**/*.log

# wav test file
**/*.wav

# flac test file
**/*.flac

# README file
README.md

# 
test_main.http

# gitignore
.gitignore

# prevent storing temporary container
/tmp/*