# idea
.idea/

# devcontainer
.devcontainer/

# venv
venv/

# upload audio folder
upload/

# __pycache__
**/__pycache__/

## logger file
#core/logs/

## logs file
#**/*.log

# wav test file
**/*.wav

# flac test file
**/*.flac