# docker build
pydantic~=2.5.3
fastapi~=0.109.0
python-multipart~=0.0.6
torchaudio~=2.1.2
torch~=2.1.2
numpy~=1.25.2
python-dotenv~=1.0.1
uvicorn~=0.27.1
transformers~=4.38.1
librosa~=0.10.1

# 
# supabase~=2.4.0
# requests~=2.31.0
# soundfile~=0.12.1

# UI
# streamlit~=1.30.0
# audio-recorder-streamlit~=0.0.8
